BasedOnStyle: LLVM

# if-else statements
AllowShortIfStatementsOnASingleLine: AllIfsAndElse # allow if-else to be on a single line
AllowShortBlocksOnASingleLine: Always

# include
SortIncludes: true
IncludeBlocks: Regroup # group in blocks

# spaces
SpaceBeforeParens: Never

AlignConsecutiveDeclarations: false
# AlignConsecutiveAssignments: true # align struct assignements
AlignConsecutiveMacros: false

# comments
AlignTrailingComments: true

ColumnLimit: 70
